@import url("StyleP.css");

.font{
    
    font-weight: bold;
}
.font-single{
    font-family: 'Segoe UI';
}
.textarea{
    resize: none; border:none;
}
.textarea-h3{
    resize: none; border:none; font-size: 1.25rem;
}

.driver{
    font-family: 'Segoe UI';
    font-size: 14.5px;
    font-weight: bold;
    margin-top:15px;
    margin-right: 0px;
    margin-left: 15px;
    height: 260px;
}
.online {
    width: 15px;
    height: 15px;
    background: green;
    border-radius: 50%
}
.offline {
    width: 15px;
    height: 15px;
    background: red;
    border-radius: 50%
}
.digital{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background:grey;
}
.disconect {
    width: 15px;
    height: 15px;
    background: grey;
    border-radius: 50%
}
.break:before{ 
    display: block;
     content: “ “; 
}
.content{
    width: auto;
    height: 26px;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
.content-XL{
    width: auto;
    max-height: 36px;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
textarea:focus{
    outline: none;
}
.Title{
    position: absolute;
    top: -15px;
    left: 10px;
    font-size: 18px;
    background-color: white !important;
}
.variables{
    overflow-y: auto;
    height: 75%;
}
.vTitle{
    height: 22px;
    width: 62%;
    overflow-y: auto;
    overflow-x: hidden;
}
.vEscrituraA{
    height: 25px;
    width:47px;
    padding: 0;
}
.vEscrituraD{
    height: 25px;
    width:30px;
    padding: 0;
}
.button{
    font-family: 'Segoe UI';
    font-weight: bold;
    border: 1px solid black;
    background-color: white;
    margin-top: 3px;
}
.buton-text{
    padding: 5px;
    background-color: white !important;
    overflow: visible;
}
.buttons{
    position: relative;
    top:-34px;
    max-width: 100%;
    height: 0;
}
.ProyectoTitle{
    width: 50px !important; 
    height: 22px; 
    overflow-y: scroll;
    overflow-x: hidden;
}
.DispositivosModalbtnCopiar{
    margin-left: auto;
    margin-right: 0;
    display: block;
}
.input-modern {
    display: block;
    border: none;
    width: 100%;
    border-bottom: thin 1px grey;
    transition: all 0.3s cubic-bezier(.64,.09,.08,1);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, #1abc9c 4%);
    background-position: -200px 0;
    background-size: 200px 100%;
    background-repeat: no-repeat;
}
.modal + .modal-backdrop ~ .modal-backdrop {display:none !important}

.modal-sm{
    max-width: 200px;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
    width:100%;
}
/* sm */

@media (max-width:519px){
    #DriversContainer{
        padding: 0 !important;
    }
    #DispositivosModalBody{
        padding-left: 0 !important;
        padding-right: 10px !important;
    }
    .content{
        height:18px !important;
        font-size:calc(.80em + 0.15vmin);
    }
    #DriversCount{
        display: none;
        font-size:calc(.85em + 0.15vmin);
    }
    #DriversButtons{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .Driver{
        max-height: 185px !important;
    }
    #DispositivosModalbtnAgregar{
        display: none;
    }
    .DriverImageDiv{
        flex:0 0 35%;
        max-width:35%;
    }
    .DriverImage{
        max-height: 175px !important;
        height: 200px !important;
    }
    .DriverInfo{
        flex:0 0 65%;
        max-width:65%;
        font-size:calc(.75em + 0.15vmin);
    }
    .DriverActions{
        display: none;
        margin-top: 0 !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .DriversActionsII{
        margin-top: 0 !important;
    }

    /* USUARIOS */
    #UsuariosModalbtnAgregar{
        display: none;
    }
    #UsuariosCount{
        font-size: calc(.75 em + 0.15vmin);
        background-color: white;
        margin-top: 3px;
    }
    #UsuariosModalcmbFilter{
        margin-top: 10px;
    }
    #UsuariosModallbls{
        font-size:calc(.65em + 0.15vmin) !important;
    }
    .UsuariosModaltxts{
        font-size:calc(.70em + 0.15vmin) !important;
    }
    .acciones{
        display: none !important;
    }
    .UsuariosModalaccioneslbl{
        display: none !important;
    }
    .modal-sm{
        max-width: 85% !important;
        margin:0 auto;
    }
    #ReportesModalFiltersDiv{
        width: 100% !important;

    }
    #ReportesModalDate{
        width: 35% !important;
    }
    #ReportesModalcmbFilter{
        width: 35% !important;
    }
    #ReportesModalbtnFiltrar{
        width: 30% !important;
        font-size: calc(.50em + 0.15vmin);
        flex-direction: row;
    }
    #btnFiltrarImage{
        max-width: 50% !important;
    }
}

@media (min-width: 960px){
    .contenedor{
        width: 100% !important;
    }
    .driver{
        margin-top: 25px !important;
    }
    .modal-md{
        max-width: 650px;
    }
    .modal-sm{
        max-width: 425px;
    }
}
@media (min-width:1665px){
    .driver{
        max-width: 25%;
    }
}
@media (max-width:992px){
    .contenedor{
        width: 100% !important;
    }
    .modal-dialog{
        max-width: 750px;
    }
    .modal-sm{
        max-width: 65%;
        margin:0 auto;
    }
}